@import url('https://fonts.googleapis.com/css?family=Anton');
/*
 * General Styling
 */
body {margin: 0; padding: 0; background-color: #f5f5f5; oveflow: hidden}
p, h1, h2, h3, h4, h5, h6 {margin: 0}

#content {overflow-x: hidden; overflow-y: scroll; height: 100vh}
.section:not(:first-child) {margin-top: 16px}

/*
 * Banner Stuff
 */
.banner {overflow: hidden; position: relative;}
.banner img {display: block; width: 100%}
/* Image Cover */
.img-cover {position: absolute; top: 0; bottom: 0; width: 50%; box-shadow: inset 0 -2px 3px rgba(0, 0, 0, 0.25)}
.img-cover.left {left: 0}
.img-cover.right {right: 0}
.img-cover.left.up {clip-path: polygon(0% 100%, 50% 100%, 100% 0%, 0% 0%); -webkit-clip-path: polygon(0% 100%, 50% 100%, 100% 0%, 0% 0%)}
.img-cover.left.down {clip-path: polygon(0% 100%, 100% 100%, 50% 0%, 0% 0%); -webkit-clip-path: polygon(0% 100%, 100% 100%, 50% 0%, 0% 0%)}
.img-cover.right.up {clip-path: polygon(50% 100%, 100% 100%, 100% 0%, 0% 0%); -webkit-clip-path: polygon(50% 100%, 100% 100%, 100% 0%, 0% 0%)}
.img-cover.right.down {clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 50% 0%); -webkit-clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 50% 0%)}
/* Banner Text */
.banner-txt {padding: 5vw; font-size: 5vw; font-family: "Anton", sans-serif; color: #fff; border: 1vw solid #fff; position: absolute}
.banner-txt p::selection {background: transparent; }
.banner-txt.up {top: 1vw}
.banner-txt.down {bottom: 1vw}
.banner-txt.left {left: 1vw}
.banner-txt.right {right: 1vw}

/*
 * Article
 */
.article {background-color: #fff; padding: 5vw; box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.25), 0 1px 3px rgba(0, 0, 0, 0.25)}
.article h1 {text-align: center; font-family: sans-serif;}
.article hr {border: none; height: 1px; background-color: #ccc}
.article p {margin: 8px 0}
