.download-container {display: flex; flex-wrap: wrap; justify-content: space-evenly;}
.download-container:nth-last-child(2) {margin-bottom: 16px}
.download-container .download  {box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25); width: calc(50% - 64px); padding: 16px; text-align: center}
.download-container .download a {text-decoration: none; color: #000; font-family: sans-serif;}
.download-container .download a i {margin-right: 4px}

@media only screen and (max-width: 1000px) {
	.download-container .download {width: calc(100% - 64px)}
}
